<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">>
<head>
    <title>Registration Form</title>
    <!-- link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" /-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="utf-8"/>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body style="background-color: #ededed;">
<div style="background-color: #337ab7; height: 50px;"></div>
<div class="container-fluid" style="margin-top: 30px;">

    <div class="row col-lg-4 col-lg-offset-4" style="margin-top: 40px; background-color: #fff; padding: 20px; border: solid 1px #ddd;">
        <form  th:action="@{/saveAssignment}" th:object="${'assignment'}" method="post" class="form-signin">
            <h3 class="form-signin-heading">Opret opgave</h3>
            <div class="form-group">
                <div class="">
                    <input type="text" name="description" placeholder="Beskrivelse" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="text" name="street_name" placeholder="Gade" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="text" name="street_number" placeholder="Hus nummer" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="text" name="city" placeholder="By" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="number" name="zip" maxlength="4" placeholder="Postnummer" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="text" name="floor" placeholder="Etage og side" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="date" id="date" name="assignment_Date" placeholder="Dato" class="form-control" />
                </div>
            </div>

            <div class="drpdwn-field" th:object="${propertyType}">
                <select class="form-control" id="id" name="property">
                    <option disabled>Vælg type bolig</option>
                    <option th:each="propertyType : ${propertyTypes}"
                            th:value="${propertyType.type}"
                            th:text="'Type: ' +${propertyType.type}">

                    </option>
                </select>
            </div>

            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="stove" th:default="0" value="1"/> Komfur<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="fridge" th:default="0" value="1"/> Køleskab/Fryser<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="washingMachine" th:default="0" value="1"> Vaskinemaskine<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="dishWasher" th:default="0" value="1"> Opvaskemaskine<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="carpets" th:default="0" value="1"/> Tæpper<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="carpetTape" th:default="0" value="1"/> Tæppetape<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="boltsAndScrews" th:default="0" value="1"/> Søm og skruer<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="curtains" th:default="0" value="1"/> Gardiner<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="curtainrod" th:default="0" value="1"/> Gardinstænger<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="blinds" th:default="0" value="1"/> Persienner<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="carpets" th:default="0" value="1"/> Tæpper<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="lamps" th:default="0" value="1"/> Lamper<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="paintings" th:default="0" value="1"/> Malerier<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="documents" th:default="0" value="1"/> Dokumenter<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="keys" th:default="0" value="1"/> Nøgler<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="cellarAndLoft" th:default="0" value="1"/> Kælder/Loftrum<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="cleaningService" th:default="0" value="1"/> Tilkøb af hovedrengøring<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="accessibilityTools" th:default="0" value="1"/> Hjælpemidler gemmes<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="returnKeys" th:default="0" value="1"/> Aflever nøgler tilbage<br>
                </div>
            </div>

            <div class="form-group">
                <div class="">
                    <button type="submit" class="btn btn-primary btn-block">Opret opgave</button>
                </div>
            </div>



        </form>
    </div>
</div>


<script>$('#date').datepicker({ dateFormat: 'yy-mm-dd' }).val();</script>

</body>
</html>