<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <!-- link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" /-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="utf-8"/>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body style="background-color: #ededed;">
<div style="background-color: #337ab7; height: 50px;"></div>
<div class="container-fluid" style="margin-top: 30px;">

    <div class="row col-lg-4 col-lg-offset-4" style="margin-top: 40px; background-color: #fff; padding: 20px; border: solid 1px #ddd;">
        <form  th:action="@{/save}" method="post" class="form-signin">
            <h3 class="form-signin-heading">Opret opgave</h3>
            <div class="form-group">
                <div class="">
                    <input type="text" name="description" placeholder="Beskrivelse" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="text" name="streetName" placeholder="Gade" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="text" name="streetNumber" placeholder="Hus nummer" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="text" name="city" placeholder="By" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="number" name="zip" maxlength="4" placeholder="Postnummer" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="text" name="floor" placeholder="Etage og side" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="date" id="date" name="assignment_date" placeholder="Dato" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="stove"/> Komfur<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="frigde"/> Køleskab/Fryser<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="washingMachine"> Vaskinemaskine<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="dishWasher"> Opvaskemaskine<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="carpets"/> Tæpper<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="carpetTape"/> Tæppetape<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="boltsAndScrews"/> Søm og skruer<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="curtains"/> Gardiner<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="curtainrod"/> Gardinstænger<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="blinds"/> Persienner<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="carpets"/> Tæpper<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="lamps"/> Lamper<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="paintings"/> Malerier<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="documents"/> Dokumenter<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="keys"/> Nøgler<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="cellarAndLoft"/> Kælder/Loftrum<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="cleaningService"/> Tilkøb af hovedrengøring<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="accessibilityTools"/> Hjælpemidler gemmes<br>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="checkbox" name="returnKeys"/> Aflever nøgler tilbage<br>
                </div>
            </div>

            <div class="form-group">
                <div class="">
                    <button type="submit" class="btn btn-primary btn-block">Opret opgave</button>
                </div>
            </div>

        </form>
    </div>
</div>


<script>$('#date').datepicker({ dateFormat: 'yy-mm-dd' }).val();</script>

</body>
</html>