<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Image</title>
</head>
<body>

<h1>Vælg en fil som du vil uploade</h1>
<h2 style="color: red">Størrelsen må ikke overskride 2.5mb lige pt.!</h2>
<form method="post" th:action="@{/saveImage}" enctype="multipart/form-data">
    <input type="text" ; placeholder="Addresse" name="address">
    <input type="file" name="imagefile">
    <button type="submit">Gem</button>
</form>

</body>
</html>